.thoughts
{
    width: 100%;
}
html
{
     background-color: #060606;
}
body
{
    background-color: #060606;
}

.homeTitle
{
    text-align: left;
    border-right: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54);
}

.homeTitle > img
{
    margin: 10px 20px;
}

.homeTitle > h5
{
    color: rgb(217, 217, 217);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;

}
.content
{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.search_bar
{
    float: right;
    text-align: center;
}

.results
{
    float: right;
    margin-top: 5px;
}

.cart
{
    background-color: #202020;
    border-radius: 10px;
    float: left;
    margin-top: 5px;
}

.cart > h4
{
    color:white;
}

.suggested
{
    border-bottom: 1px solid #6c757d;
    height: 75px;
}

.text_suggested
{
    display: inline-block;
    justify-content: space-between;
}

.button_suggested
{
    float: right;
}

.followButton
{
    background-color: transparent;
    border: 0;
    display: block;
    text-align: center;
    border: 2px solid #007FFF;
    padding: 10px 30px;
    outline: none;
    color: #007FFF;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 100px;
}

.home
{
    width: 100%;
}

.followButton:hover
{
    text-decoration: none;
    color: #007FFF;
    background-color: #007FFF1a;
}

.search
{
    outline: none;
    width: 35%;
    text-align: center;
    background-color: #202020;
    border: 2px solid #3498db;
    border-radius: 24px;
    height: 40px;
    color: white;
}


textarea {
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

.txt-area
{
    width: 100%;
    height: 150px;
    background-color: transparent;
    color: rgb(217, 217, 217);
    transition: 0.25s;
    overflow: hidden;
    font-size: 20px;
}

.txt-area-active
{
    width: 100%;
    height: 150px;
    background-color: transparent;
    color: rgb(217, 217, 217);
    transition: 0.25s;
    overflow: hidden;
    font-size: 20px;
}

.textfield_container
{
    border: 1px solid rgb(47, 51, 54);
}

.link
{
    margin: 10px 5px;
    cursor: pointer;
    width: 50px;
    float: left;
}

.buttonPost  {
    border: 0;
    background: none;
    display: block;
    margin: 20px 5px;
    background: rgba(46, 204, 113, 0.4);
    padding: 10px 30px;
    outline: none;
    color: rgba(255,255,255,0.4);
    border-radius: 24px;
    transition: 0.25s;
}


.buttonPostAct  {
    border: 0;
    background: none;
    display: block;
    margin: 20px 5px;
    background: rgba(46, 204, 113, 1);
    padding: 10px 30px;
    outline: none;
    color: rgba(255,255,255, 1);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}


.box2
{
    width: 33.3%;
}
.box1, .box3
{
    width: 20%;
    margin: 10px 130px;
}

.recommended
{
    width: 100%;
}
.userData
{
    margin: 10px 20px;
}

.postP, .postL, .postR
{
    border-right: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
}

.userData > a > img
{
    width: 50px;
    border-radius: 50%;
    z-index: 1;
    float: left;
}
.postUsername
{
    margin-right: 5px;
    color: white;
    font-size: 20px;
}
.postText
{
    width: 100%;
    margin-left: 70px;
}

.postContent
{
    color: rgb(217, 217, 217);;
    font-size: 15px;
    text-align: justify;
}
ul.social-network {
    list-style: none;
    display: flex;
    margin-left: 0 !important;
    padding: 0;
    justify-content: space-around;
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.comment
{
    color: #6c757d;
}

.comment:hover
{
    background-color: #007FFF1a;
}

.comment:hover i{
    color: #007FFF;
}
.retweet i
{
    color: #6c757d;
}

.retweet:hover {
    background-color: #2ecc711a;

}

.retweet:hover i{
    color: #2ecc71;
}

.is-retweeted i
{
    color: #2ecc71;
}

.like{
    height: 50px;
    width: 50px;
    background-image: url('http://abs.twimg.com/a/1517453990/img/animations/web_heart_animation_edge.png');
    background-size: 1450px 50px;
}
.like:hover{
    background-position: 3.571428571428571%;
    background-color: #ff00001a;
}
.is-liked{
    background-image: url('http://abs.twimg.com/a/1517453990/img/animations/web_heart_animation_edge.png');
    background-size: 1450px 50px;
    animation: like 1s steps(28) forwards;
}
@keyframes like {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: right;
    }
}

