.content
{
    width: 100%;
    background-color: #060606;
    border-top: none;
}

.background_img
{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.profile_img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    float: left;
}


.username
{
    width: 100%;
    color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.buttonProf
{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.button
{
    background-color: transparent;
    text-decoration: none;
    border: 0;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
}

.followButton
{
    background-color: transparent;
    text-decoration: none;
    border: 0;
    display: block;
    text-align: center;
    border: 2px solid #007FFF;
    padding: 14px 40px;
    outline: none;
    color: #007FFF;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
}

.followButton:hover
{
    text-decoration: none;
    color: #007FFF;
    background-color: #007FFF1a;
}

.is-followed
{
    background-color: transparent;
    text-decoration: none;
    border: 0;
    display: block;
    text-align: center;
    border: 2px solid #007FFF;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
    background: #007FFF;
}

.is-followed:hover
{
    text-decoration: none;
    color: white;
    background: red;
    border: 2px solid red;
}

.bio
{
    color: rgba(255,255,255,0.9);
}

.button:hover
{
    text-decoration: none;
    color: white;
    background: #2ecc71
}
 .options
{
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
 }


.posts > a
{
    width: 100%;
}

.links
{
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    padding: 14px 40px;
    color: #6c757d;
    border-bottom: 1px solid #060606;
    transition: all ease 500ms;
}

.links:hover, .linkSelected:hover
{
    text-decoration: none;
    border-bottom: 1px solid #2ecc71;
    color: #2ecc71;

}

.linkSelected
{
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    padding: 14px 40px;
    transition: all ease 500ms;
    text-decoration: none;
    border-bottom: 1px solid #2ecc71;
    color: #2ecc71;
}

.data
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.userData
{
    padding-left: 70px;
}

.postP, .postL, .postR
{
    width: 33.3%;
    padding: 14px 40px;
    border: 1px solid #6c757d;
}

.userData > a > img
{
    width: 50px;
    border-radius: 50%;
    z-index: 1;
    float: left;
}
 .postUsername
 {
     margin-right: 5px;
     color: white;
     font-size: 20px;
 }
 .postText
 {
     width: 100%;
     margin-left: 70px;
 }

 .postContent
 {
     color: white;
     font-size: 15px;
     text-align: justify;
 }
ul.social-network {
    list-style: none;
    display: flex;
    margin-left: 0 !important;
    padding: 0;
    justify-content: space-around;
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.comment
{
    color: #6c757d;
}

.comment:hover
{
    background-color: #007FFF1a;
}

.comment:hover i{
    color: #007FFF;
}
.retweet i
{
    color: #6c757d;
}

.retweet:hover {
    background-color: #2ecc711a;

}

.retweet:hover i{
    color: #2ecc71;
}

.is-retweeted i
{
    color: #2ecc71;
}

.like{
    height: 50px;
    width: 50px;
    background-image: url('http://abs.twimg.com/a/1517453990/img/animations/web_heart_animation_edge.png');
    background-size: 1450px 50px;
}
.like:hover{
    background-position: 3.571428571428571%;
    background-color: #ff00001a;
}
.is-liked{
    background-image: url('http://abs.twimg.com/a/1517453990/img/animations/web_heart_animation_edge.png');
    background-size: 1450px 50px;
    animation: like 1s steps(28) forwards;
}
@keyframes like {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: right;
    }
}

